body {
    font-family: Verdana, Arial, sans-serif;
    font-size: 13px;
    color: rgb(63, 63, 63);
}

.gear path, .worm polygon {
    fill: #888d91;
}

.gear.custom path {
    fill: rgb(218, 63, 63);
}

.connection {
    border: 1px solid rgb(167, 167, 167);
    border-radius: 4px;
    background-color: rgb(250, 250, 250);
    display: inline-block;
    padding: 8px;
    box-shadow: 0px 0px 6px 0px rgba(0,0,0,0.25);
    margin-top: 10px;
}

.connection table {
    margin-right: -8px;
}

.connection table td {
    text-align: center;
}

.connection table td:last-of-type {
    position: relative;
    left: -8px;
}

.teeth {
    font-size: 1.5em;
    font-style: bold;
}

.distance {
    margin-top: 10px;
}

.dst-good {
    color: green;
}
.dst-ok {
    color: rgb(187, 128, 0);
}
.dst-bad {
    color: gray;
}

.fraction {
    display: inline-block;
    text-align: center;
    padding: 0 8px;
    margin-top: 10px;
}

.fraction .decimal {
    margin-top: 12px;
    color: gray;
}

.fraction-container {
    display: inline-block;
}

.nominator, .denominator {
    font-size: 1.1em;
}

.nominator {
    border-bottom: 1.5px solid rgb(122, 122, 122);
}

.integer {
    font-size: 1.25em;
    padding-bottom: 10px;
}

.sequence {
    padding-bottom: 10px;
}

.sequence:not(:last-of-type) {
    border-bottom: 1px solid rgb(192, 192, 192);
}

.sequence .info {
    padding-top: 8px;
}

form {
    border: 1px solid rgb(202, 202, 202);
    padding: 10px;
}

input[type=text], input[type=number] {
    padding: 5px;
    border: 1px solid rgb(201, 201, 201);
    border-radius: 4px;
    font-size: 1.1em;
    width: 100px;
    outline: none;
    transition: border-color .1s linear;
    color: inherit;
}

input[type=text]:hover, input[type=number]:hover {
    border-color: rgb(187, 187, 187);
    box-shadow: 0px 0px 6px 0px rgba(0,0,0,0.25);
}

input[type=text]:focus, input[type=number]:focus {
    border-color: rgb(44, 160, 255);
    box-shadow: 0px 0px 6px 0px rgba(15, 74, 201, 0.25);
}

form>div:not(:last-of-type), form>details>div:not(:last-of-type) {
    margin: 10px 0;
}

details {
    padding-bottom: 12px;
}

summary {
    line-height: 20px;
    user-select: none;
    outline: none;
    cursor: default;
}

button {
    color: #fff;
    background-color: #5bb75b;
    background-image: linear-gradient(to bottom,#62c462,#51a351);
    background-repeat: repeat-x;
    border: 1px solid #51a351;
    padding: 4px 12px;
    font-size: 14px;
    line-height: 20px;
    text-align: center;
    vertical-align: middle;
    border-radius: 4px;
    user-select: none;
    margin-right: 10px;
    outline: none;
}

button:active {
    color: #fff;
    background-color: #51a351;
    text-decoration: none;
    background-position: 0 -15px;
    transition: background-position .1s linear;
    outline: none;
}

button:hover {
    box-shadow: 0px 0px 6px 0px #51a351a1;
}

label {
    user-select: none;
    line-height: 20px;
}

label.radiolabel {
    display: inline-block;
    border: 1px solid rgb(201, 201, 201);
    text-align: center;
    background-color: rgb(255, 255, 255);
    margin-right: -6px;
    color: rgb(114, 114, 114);
    font-size: 14px;
    padding: 4px 24px;
}

.radiolabel:hover {
    border-color: rgb(177, 177, 177);
    color: rgb(80, 80, 80);
    background-color: rgb(233, 233, 233);
}

label.radiolabel:active {
    border-color: rgb(170, 170, 170);
}

input[type=radio]:checked + label.radiolabel {
    background-color: rgb(212, 212, 212);
    color: rgb(80, 80, 80);
    border-color: rgb(124, 124, 124);
}

input[type=radio]:checked + label.radiolabel:hover, label.radiolabel:active {
    background-color: rgb(196, 196, 196);
    color: rgb(61, 61, 61);
    border-color: rgb(124, 124, 124);
    border-style: solid;
}

.group input[type=radio] {
    display: none;
}

label.radiolabel:first-of-type {
    border-top-left-radius: 5px;
    border-bottom-left-radius: 5px;
}

label.radiolabel:last-of-type {
    border-top-right-radius: 5px;
    border-bottom-right-radius: 5px;
}

input[type=radio]:checked + label.radiolabel + input[type=radio]+label.radiolabel,
label.radiolabel:active + input[type=radio] + label.radiolabel {
    border-left-color: rgb(124, 124, 124);
}

#result {
    padding-top: 10px;
}

.spinner {
    display: inline-block;
    position: relative;
    width: 30px;
    height: 16px;
    margin: 0px;
}
.spinner div {
    box-sizing: border-box;
    display: block;
    position: absolute;
    width: 20px;
    height: 20px;
    margin: 2px;
    border: 2px solid rgb(156, 156, 156);
    border-radius: 50%;
    animation: spinner 1.2s cubic-bezier(0.5, 0, 0.5, 1) infinite;
    border-color: rgb(156, 156, 156) transparent transparent transparent;
}
.spinner div:nth-child(1) {
    animation-delay: -0.45s;
}
.spinner div:nth-child(2) {
    animation-delay: -0.3s;
}
.spinner div:nth-child(3) {
    animation-delay: -0.15s;
}
@keyframes spinner {
    0% {
        transform: rotate(0deg);
    }
    100% {
        transform: rotate(360deg);
    }
}

#searching {
    vertical-align: middle;
    display: none;
}
#searching>span{
    margin-right:10px;
}

button.white {
    color: inherit;
    background-color: #f1f1f1;
    background-image: linear-gradient(to bottom,#ececec,#d6d6d6);
    border: 1px solid #929292;
}

button.white:active {
    background-color: #dadada;
}

button.white:hover {
    box-shadow: 0px 0px 6px 0px #868686a1;
}

input.gearlist {
    width: 500px;
}

input[type=checkbox] {
    vertical-align: middle;
    position: relative;
    bottom: 1px;
}

a.headline {
    text-decoration: none;
    color: inherit;
}

svg.gear path, svg.worm polygon {
    animation-timing-function: linear;
    animation-iteration-count: infinite;
    animation-fill-mode: forwards;
}

svg.gear path {
    animation-name: spin;
}

svg.worm polygon {
    animation-name: wind;
    animation-direction: reverse;
}

@keyframes spin {
    from {
        transform:rotate(0deg); 
    }
    to {
        transform:rotate(360deg); 
    }
}

@keyframes wind {
    from {
        transform: translate(0, 0);
    }
    to {
        transform: translate(0, -3.25px);
    }
}

.result-meta {
    padding: 10px 0;
}

.result-meta label {
    float: right;
}

.result-meta label input[type="text"] {
    width: 40px;
}