body {
    font-family: Verdana, Arial, sans-serif;
    font-size: 13px;
    color: rgb(63, 63, 63);
}

.gear path, .gear polygon {
    fill: #888d91;
}

.gear.custom path {
    fill: rgb(218, 63, 63);
}

.connection {
    border: 1px solid rgb(167, 167, 167);
    border-radius: 4px;
    background-color: rgb(250, 250, 250);
    display: inline-block;
    padding: 8px;
    box-shadow: 0px 0px 6px 0px rgba(0,0,0,0.25);
}

.connection table td {
    text-align: center;
}

.teeth {
    font-size: 1.5em;
    font-style: bold;
}

.distance {
    margin-top: 10px;
}

.dst-good {
    color: green;
}
.dst-ok {
    color: rgb(187, 128, 0);
}
.dst-bad {
    color: gray;
}

.fraction {
    display: inline-block;
    text-align: center;
    padding: 0 8px;
}

.fraction .decimal {
    margin-top: 12px;
    color: gray;
}

.fraction-container {
    display: inline-block;
}

.nominator, .denominator {
    font-size: 1.1em;
}

.nominator {
    border-bottom: 1.5px solid rgb(122, 122, 122);
}

.integer {
    font-size: 1.25em;
    padding-bottom: 10px;
}

.sequence {
    padding: 10px 0;
}

.sequence:not(:last-of-type) {
    border-bottom: 1px solid rgb(192, 192, 192);
}

.sequence .info {
    padding-top: 8px;
}

form {
    border: 1px solid rgb(202, 202, 202);
    padding: 10px;
}

input[type=text] {
    padding: 5px;
    border: 1px solid rgb(201, 201, 201);
    border-radius: 4px;
    font-size: 1.1em;
    width: 100px;
    outline: none;
    transition: border-color .1s linear;
    color: inherit;
}

input[type=text]:hover {
    border-color: rgb(143, 143, 143);
    box-shadow: 0px 0px 6px 0px rgba(0,0,0,0.25);
}

input[type=text]:focus {
    border-color: rgb(44, 160, 255);
    box-shadow: 0px 0px 6px 0px rgba(15, 74, 201, 0.25);
}

form>div:not(:last-of-type) {
    margin: 10px 0;
}

:root {
    --radiolabel: rgb(155, 155, 155);
}

button {
    color: #fff;
    text-shadow: 0 -1px 0 rgba(0,0,0,.25);
    background-color: #5bb75b;
    background-image: linear-gradient(to bottom,#62c462,#51a351);
    background-repeat: repeat-x;
    border: 1px solid #51a351;
    padding: 4px 12px;
    font-size: 14px;
    line-height: 20px;
    text-align: center;
    vertical-align: middle;
    border-radius: 4px;
    user-select: none;
    margin-right: 10px;
    outline: none;
}

button:active {
    color: #fff;
    background-color: #51a351;
    text-decoration: none;
    background-position: 0 -15px;
    transition: background-position .1s linear;
    outline: none;
}

label {
    user-select: none;
    line-height: 20px;
}

label.radiolabel {
    display: inline-block;
    border: 1px solid var(--radiolabel);
    text-align: center;
    background-color: rgb(255, 255, 255);
    border-right-style: none;
    margin-right: -6px;
    color: rgb(95, 95, 95);
    font-size: 14px;
    padding: 4px 24px;
}

label.radiolabel:active {
    box-shadow: inset 2px 2px 6px 0px rgba(0,0,0,0.35);
}

input[type=radio]:checked + label.radiolabel {
    background-color: var(--radiolabel);
    color: white;
    text-shadow: 0 -1px 0 rgba(0,0,0,.25);
}

.radiolabel:hover, input[type=radio]:checked + label.radiolabel:hover {
    background-color: rgb(182, 182, 182);
    color: white;
    text-shadow: 0 -1px 0 rgba(0,0,0,.25);
}

.group input[type=radio] {
    display: none;
}

label.radiolabel:first-of-type {
    border-top-left-radius: 5px;
    border-bottom-left-radius: 5px;
}

label.radiolabel:last-of-type {
    border-top-right-radius: 5px;
    border-bottom-right-radius: 5px;
    border-right-style: solid;
}

#result {
    padding-top: 10px;
}

.spinner {
    display: inline-block;
    position: relative;
    width: 30px;
    height: 16px;
    margin: 0px;
}
.spinner div {
    box-sizing: border-box;
    display: block;
    position: absolute;
    width: 20px;
    height: 20px;
    margin: 2px;
    border: 2px solid rgb(156, 156, 156);
    border-radius: 50%;
    animation: spinner 1.2s cubic-bezier(0.5, 0, 0.5, 1) infinite;
    border-color: rgb(156, 156, 156) transparent transparent transparent;
}
.spinner div:nth-child(1) {
    animation-delay: -0.45s;
}
.spinner div:nth-child(2) {
    animation-delay: -0.3s;
}
.spinner div:nth-child(3) {
    animation-delay: -0.15s;
}
@keyframes spinner {
    0% {
        transform: rotate(0deg);
    }
    100% {
        transform: rotate(360deg);
    }
}

#searching {
    vertical-align: middle;
    display: none;
}
#searching>span{
    margin-right:10px;
}

button.white {
    color: inherit;
    background-color: #f1f1f1;
    background-image: linear-gradient(to bottom,#ececec,#d6d6d6);
    border: 1px solid #929292;
}

button.white:active {
    background-color: #dadada;
}

input.gearlist {
    width: 500px;
}

input[type=checkbox] {
    vertical-align: middle;
    position: relative;
    bottom: 1px;
}