body {
    font-family: sans;
    color: rgb(63, 63, 63);
}

.gear path, .gear polygon {
    fill: #888d91;
}

.gear.custom path {
    fill: rgb(218, 63, 63);
}

.connection {
    border: 1px solid rgb(167, 167, 167);
    border-radius: 4px;
    background-color: rgb(250, 250, 250);
    display: inline-block;
    margin: 8px;
    padding: 8px;
    box-shadow: 0px 0px 6px 0px rgba(0,0,0,0.25);
}

.connection table td {
    text-align: center;
}

.teeth {
    font-size: 1.5em;
    font-style: bold;
}

.distance {
    margin-top: 10px;
}

.dst-good {
    color: green;
}
.dst-ok {
    color: rgb(187, 128, 0);
}
.dst-bad {
    color: gray;
}

.fraction {
    display: inline-block;
    text-align: center;
    padding: 0 8px;
    padding-top: 8px;
}

.fraction .decimal {
    margin-top: 12px;
    font-size: 0.8em;
    color: gray;
}

.fraction-container {
    display: inline-block;
}

.nominator, .denominator {
    font-size: 1.1em;
}

.nominator {
    border-bottom: 1.5px solid rgb(122, 122, 122);
}

.integer {
    font-size: 2em;
    padding-bottom: 2px;
}

.sequence {
    border-bottom: 1px solid rgb(192, 192, 192);
}